altgraph==0.17.5
astroid==4.0.2
attrs==22.1.0
black==23.12.1
cfgv==3.5.0
click==8.3.1
colorama==0.4.6
coverage==7.13.0
dill==0.4.0
distlib==0.4.0
et_xmlfile==2.0.0
filelock==3.20.1
identify==2.6.15
iniconfig==2.3.0
isort==7.0.0
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.5
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pathspec==0.12.1
pefile==2024.8.26
platformdirs==4.5.1
pluggy==1.6.0
pre-commit==3.8.0
progress==1.6.1
py==1.11.0
Pygments==2.19.2
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2025.10
pylint==4.0.4
pyparsing==3.0.9
pytest==9.0.2
pytest-cov==7.0.0
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.3
six==1.17.0
tomli==2.0.1
tomlkit==0.13.3
tzdata==2025.3
virtualenv==20.35.4
mkdocstrings[python]>=0.18
mkdocs-material